@font-face {
    font-family: "oneMobileTitle";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/oneMobileTitle/oneMobileTitle.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/oneMobileTitle/oneMobileTitle.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/oneMobileTitle/oneMobileTitle.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/oneMobileTitle/oneMobileTitle.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/oneMobileTitle/oneMobileTitle.ttf") format("truetype");
    font-display: swap;
} 

.oneMobileTitle {
    font-family: "oneMobileTitle";
}